.row {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

.column h2 {
    font-family: Arial;
    font-size: 40px;
    color: balck;
}

.column p {
    font-family: Arial;
    font-size: 20px;
    color: black;
}

footer {
    position: relative;
    overflow: hidden;
    background-color: darkorange;
    font-family: Arial;
    margin-top: auto;
}

.footer p {
    float: left;
    font-size: 20px;
    color: white;
    padding: 0px 18px;
    text-align: center;
    text-decoration: none;
}