h3 {
    font-family: Arial;
    padding: 16px 18px;
    text-decoration: none;
}

li {
    font-family: Arial;
    padding: 10px 10px;
    text-decoration: none;
}

.text-blk.title {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-weight: 900;
    margin: 0 0 15px 0;
    font-family: Arial;
    padding-top: 10px;
}

.text-blk.info-block {
    font-family: Arial;
    padding: 10px;
}

.text-blk.name {
    font-family: Arial;
    padding: 10px;
}

footer {
    position: relative;
    bottom: 0;
    overflow: hidden;
    background-color: darkorange;
    font-family: Arial;
    margin-top: 6px;
}

.footer p {
    float: left;
    font-size: 20px;
    color: white;
    padding: 0px 18px;
    text-align: center;
    text-decoration: none;
}